.checkbox{
  display: block;
  position: relative;
  user-select: none;
  margin: 1rem 0;
  transition: $anim;
  font-family: $secondary-font;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: 1.5px solid $dark-light;
    transform: scale(1) translateY(-50%);
    transition: $anim;
  }
  &:active{
    &:before{
      animation: scale .3s;
    }
  }
  &:hover{
    cursor: pointer;
  }
  input{
    display: none;
  }
  svg{
    position: absolute;
    top: -2.5px;
    left: -1px;
    width: 2rem;
    height: 2rem;
  }
  path{
    stroke-width: 6px;
    stroke-dasharray: 48px;
    stroke-dashoffset: 48px;
    transform-origin: 50% 50%;
    stroke: $dark-light;
    transition: $anim;
  }
  &__label{
    position: relative;
    padding: 0 2rem 0 3rem;
  }
  &--selected{
    path{
      stroke-dashoffset: 0;
    }
    .checkbox__label{
      &:before{
        background: $dark-light;
      }
      &:after{

      }
    }
  }
}

@keyframes scale {
  50% {
    transform: scale(1.05) translateY(-50%);
  }
}