.modal{
  width: 66.2rem;
  padding: 2.5rem 4.4rem 1.8rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  opacity: 0;
  z-index: -1;
  border-radius: 1rem;
  background: $white;
  box-shadow: $shadow-bold;
  font-family: $secondary-font;
  box-sizing: border-box;
  &.open{
    max-height: calc(100vh - 100px);
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: $anim;
    z-index: 101;
  }
  &__header{
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    margin-bottom: 4.5rem;
  }
  &__warning{
    display: flex;
    align-items: center;
    margin-top: -3rem;
    margin-bottom: 1.8rem;
    color: rgba(60,71,108,0.7);
    font-size: $fzSM;
    .mask{
      fill: #75A4BA;
    }
    span{
      margin-left: 1rem;
    }
  }
  &__bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6rem;
    margin-right: -2.5rem;
  }
  &__error{
    color: $negative;
  }
  &__button{
    width: 11rem;
    margin-right: 2.5rem;
    padding: 1rem;
    color: #3C476C;
    font-weight: 500;
    font-family: $secondary-font;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    &:hover{
      background: $grey-light;
    }
  }
}