.settings{
  h2{
    margin-bottom: 3.2rem;
    color: $dark-light;
    font-size: $fzXLG;
    font-weight: normal;
    &:first-of-type{
      margin-top: 4.2rem;
    }
    &:nth-of-type(2){
      margin-top: 7.1rem;
    }
    &:nth-of-type(3){
      margin-top: 9rem;
    }
  }
  .dropdown{
    width: 32.8rem;
    margin-bottom: 3.9rem;
  }
  > .field{
    width: 47.3rem;
  }
}