.card__content--widget {
  padding-top: 28px;
}

.input {
  &__row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;

    .number {
      width: 196px;
      margin-right: 2rem;
    }

    .field__dropdown {
      width: 145px;
    }
  }
}

.info__row {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-bottom: 1rem;

  span:not(:last-child) {
    margin-right: 1rem;
  }
}

.btn__row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;

  .btn-round--buy {
    width: 196px;
  }
}

.form__sell-buy {
  width: 85%;
  margin: 0 1.6rem;

  label:not(:last-child), .dropdown:not(:last-child) {
    margin-right: 3rem;
  }

  label {
    max-width: 200px;
  }
}

.form__send {
  width: 95%;
  margin: 0 1rem;

  .input__row {
    margin-bottom: 2rem;
  }

  label, .dropdown {
    width: 50%;
  }

  .memo {
    width: 100%;
  }

  label:not(:last-child), .dropdown:not(:last-child) {
    margin-right: 3rem;

    .field, .with_hint {
      width: 100%;
    }
  }

  .currency {
    width: 220px !important;
    margin-right: 0 !important;
  }

  .info__row {
    padding-bottom: 0;
  }

  .btn__row {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn-round--send {
      width: 146px;
    }
  }
}